<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Wallethon</title>
  </head>
  <body>
    <header>
      <div class="left">Wallethon</div>
      <div class="right">
        <div id="menu">
        </div>
      </div>
    </header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </body>
</html>
