.green {
  color: #1B8A6B;
}

.red {
  color: #f44336;
}

.golden {
  color: #D4AF37;
}

.blue {
  color: #0093fb;
}

.dark-blue {
  color: #0042fb;
}

.blueviolet {
  color: blueviolet;
}

mat-grid-tile {
  overflow: visible;
}

.BUY-transaction {
  border-color: #1B8A6B;
}

.SELL-transaction {
  border-color: #f44336;
}

.split-transaction {
  border-color: #D4AF37;
}

.cash-dividend-transaction {
  border-color: #0093fb;
}

.stock-dividend-transaction {
  border-color: #0042fb;
}

.summary {
  margin-bottom: 15px;
}

.summary-broker {
  font-weight: bold;
}

.summary-stock {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  min-height: 50px;
  border: 1px solid #efefef;
  border-radius: 5px;
  text-align: center;
}

.summary-stock-symbol {
  background-color: #efefef;
  padding: 5px;
  font-weight: bold;
}

.summary-stock-details-total-quantity {
  font-weight: bold;
  font-size: 18px;
}

.summary-stock-details-container {
  padding: 7px;
  font-size: 15px;
}

.summary-stock-details-container .material-icons {
  font-size: 18px;
}

.summary-stock-details-container .mat-icon {
  width: 18px;
}

