<h1>Stocks</h1>
<div *ngIf="!dataLoaded">
  <mat-card>
    <mat-card-content>
      <h2>Loading data</h2>
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>
<span *ngIf="dataLoaded">
  <h3>Summary</h3>
  <span *ngFor="let summary of summaries;">
    <div class="summary">
      <div class="summary-broker">{{summary.broker.name}}</div>
      <span *ngFor="let stockSummary of summary.stockSummaries;">
        <div class="summary-stock">
          <div class="summary-stock-symbol">{{stockSummary.companyStock.symbol}}</div>
          <div class="summary-stock-details-container">
            <div class="summary-stock-details">
              <div class="summary-stock-details-total-quantity" title="{{stockSummary.getTotalQuantityText()}}">
                <mat-icon class="blueviolet">track_changes</mat-icon>
                {{stockSummary.totalQuantity}}
              </div>
              <div>
                <mat-icon aria-hidden="false" aria-label="Buy" class="green" title="Buy transactions">account_balance_wallet</mat-icon>
                {{stockSummary.buyTransactionCounter}}
                <mat-icon aria-hidden="false" aria-label="Sell" color="warn" title="Sell transactions">attach_money</mat-icon>
                {{stockSummary.sellTransactionCounter}}
                <mat-icon aria-hidden="false" aria-label="Split" class="golden" title="Split transactions">call_split</mat-icon>
                {{stockSummary.stockSplitCounter}}
                <mat-icon aria-hidden="false" aria-label="Cash dividend" class="blue" title="Cash dividend transactions">pie_chart</mat-icon>
                {{stockSummary.cashDividendCounter}}
                <mat-icon aria-hidden="false" aria-label="Cash dividend" class="dark-blue" title="Stock dividend transactions">pie_chart</mat-icon>
                {{stockSummary.stockDividendCounter}}
              </div>
              <span *ngFor="let stockCurrencySummary of stockSummary.stockCurrencySummaries;">
                <div>
                  <span title="Sum of buy transactions total values">
                    <mat-icon class="green">account_balance</mat-icon>
                    {{MoneyService.formatMoney(stockCurrencySummary.boughtMoney, stockCurrencySummary.currency)}}
                  </span>
                  <span title="Sum of sell transactions total values">
                    <mat-icon class="red">account_balance</mat-icon>
                    {{MoneyService.formatMoney(stockCurrencySummary.soldMoney, stockCurrencySummary.currency)}}
                  </span>
                  <span title="Sum of cash dividend quantities">
                    <mat-icon class="blue">pie_chart</mat-icon>
                    {{MoneyService.formatMoney(stockCurrencySummary.dividend, stockCurrencySummary.currency)}}
                  </span>
                </div>
              </span>
            </div>
          </div>
        </div>
      </span>
    </div>
  </span>
  <h3>Income and tax</h3>
  <button mat-raised-button color="primary" (click)="showIncomeAndTaxData()">Show income and tax</button>
  <span *ngIf="showIncomeAndTax">
    <div *ngIf="!incomeAndTaxDataLoaded">
  <mat-card>
    <mat-card-content>
      <h2>Loading data</h2>
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>
    <p>Stocks income: {{MoneyService.formatMoney(brokersTotalIncomeSummary.income(), incomeAndTaxCurrency)}}</p>
    <p>Stocks income tax: {{MoneyService.formatMoney(brokersTotalIncomeSummary.incomeTax(), incomeAndTaxCurrency)}}</p>
    <p>Cash dividend income: {{MoneyService.formatMoney(brokersTotalIncomeSummary.cashDividendIncome(), incomeAndTaxCurrency)}}</p>
    <p>Cash dividend income tax: {{MoneyService.formatMoney(brokersTotalIncomeSummary.cashDividendIncomeTax(), incomeAndTaxCurrency)}}</p>
    <span class="flex-table">
      <span *ngFor="let broker of brokersTotalIncomeSummary.brokerIncomeSummaries">
        <h4>{{broker.broker.name}}</h4>
            <div class="row row-small row-right">
              <div class="cell">
                <mat-icon aria-hidden="false" aria-label="Sell" color="warn" title="Sell transactions income">attach_money</mat-icon>
                {{MoneyService.formatMoney(broker.income(), incomeAndTaxCurrency)}}
              </div>
              <div class="cell">
              <mat-icon aria-hidden="false" aria-label="Cash dividend" class="blue" title="Cash dividend transactions income">pie_chart</mat-icon>
                {{MoneyService.formatMoney(broker.cashDividendIncome(), incomeAndTaxCurrency)}}
             </div>
            </div>
            <span *ngFor="let stockIncomeSummary of broker.stockIncomeSummaries">
              <div class="row {{stockIncomeSummary.sellTransaction.type}}-transaction">
                <div class="cell">
                  <mat-icon aria-hidden="false" aria-label="Sell" color="warn" title="Sell">attach_money</mat-icon>
                </div>
                <div class="cell">{{stockIncomeSummary.sellTransaction.date.toLocaleString()}}</div>
                <div class="cell">{{stockIncomeSummary.sellTransaction.companyStock.symbol}}</div>
                <div class="cell" title="Income"><b>{{MoneyService.formatMoney(stockIncomeSummary.income(), incomeAndTaxCurrency)}}</b></div>
              </div>
            </span>
            <span *ngFor="let cashDividendIncomeTransaction of broker.cashDividendIncomeTransactions">
              <div class="row cash-dividend-transaction">
                <div class="cell">
                  <mat-icon aria-hidden="false" aria-label="Cash dividend transactions" class="blue" title="Cash dividend transactions">pie_chart</mat-icon>
                </div>
                <div class="cell">{{cashDividendIncomeTransaction.cashDividendTransaction.date.toLocaleString()}}</div>
                <div class="cell">{{cashDividendIncomeTransaction.cashDividendTransaction.companyStock.symbol}}</div>
                <div class="cell" title="Income"><b>{{MoneyService.formatMoney(cashDividendIncomeTransaction.cashDividendIncome(), incomeAndTaxCurrency)}}</b></div>
              </div>
            </span>
      </span>
    </span>
  </span>
  <h3>Transactions</h3>
  <div class="row row-small row-right">
    <div class="cell">
      <mat-icon aria-hidden="false" aria-label="Buy" class="green" title="Buy transactions">account_balance_wallet</mat-icon>
      {{buyStockTransactionsCounter}}
    </div>
    <div class="cell">
      <mat-icon aria-hidden="false" aria-label="Sell" color="warn" title="Sell transactions">attach_money</mat-icon>
      {{sellStockTransactionsCounter}}
    </div>
    <div class="cell">
      <mat-icon aria-hidden="false" aria-label="Split" class="golden" title="Split transactions">call_split</mat-icon>
      {{stockSplitTransactions.length}}
    </div>
    <div class="cell">
      <mat-icon aria-hidden="false" aria-label="Cash dividend" class="blue" title="Cash dividend transactions">pie_chart</mat-icon>
      {{cashDividendTransactions.length}}
    </div>
    <div class="cell">
      <mat-icon aria-hidden="false" aria-label="Cash dividend" class="dark-blue" title="Stock dividend transactions">pie_chart</mat-icon>
      {{stockDividendTransactions.length}}
    </div>
  </div>
  <span class="flex-table">
    <span *ngFor="let transaction of transactions;" [ngSwitch]="transactionsSummaryService.getTransactionType(transaction)">
    <ng-container *ngSwitchCase="'StockTransaction'">
      <div class="row {{transaction.type}}-transaction">
        <span *ngIf="transaction.type == 'BUY'; then thenBlock else elseBlock"></span>
        <ng-template #thenBlock>
          <div class="cell">
            <mat-icon aria-hidden="false" aria-label="Buy" class="green" title="Buy">account_balance_wallet</mat-icon>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="cell">
            <mat-icon aria-hidden="false" aria-label="Sell" color="warn" title="Sell">attach_money</mat-icon>
          </div>
        </ng-template>
        <div class="cell">{{transaction.date.toLocaleString()}}</div>
        <div class="cell" title="Symbol">{{transaction.companyStock.symbol}}</div>
        <div class="cell" title="Stock quantity">{{transaction.stockQuantity}}</div>
        <div class="cell" title="Price per stock">
          {{MoneyService.formatMoney(transaction.perStockPrice, transaction.perStockPriceCurrency)}}
        </div>
        <div class="cell" title="{{transaction.getTotalValueText()}}">
          <b>{{MoneyService.formatMoney(transaction.totalValue, transaction.totalValueCurrency)}}</b>
        </div>
        <div class="cell" title="Broker">{{transaction.broker.name}}</div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'StockSplitTransaction'">
      <div class="row split-transaction">
        <div class="cell">
          <mat-icon aria-hidden="false" aria-label="Split" class="golden" title="Split">call_split</mat-icon>
        </div>
        <div class="cell">{{transaction.date.toLocaleString()}}</div>
        <div class="cell" title="Symbol">{{transaction.companyStock.symbol}}</div>
        <div class="cell" title="Exchange ratio">
          {{transaction.exchangeRatioFrom}}:{{transaction.exchangeRatioFor}}
        </div>
        <div class="cell"><span *ngIf="transaction.optional">Optional</span></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'CashDividendTransaction'">
      <div class="row cash-dividend-transaction">
        <div class="cell">
          <mat-icon aria-hidden="false" aria-label="Cash dividend" class="blue" title="Cash dividend">pie_chart</mat-icon>
        </div>
        <div class="cell">{{transaction.date.toLocaleString()}}</div>
        <div class="cell" title="Symbol">{{transaction.companyStock.symbol}}</div>
        <div class="cell"></div>
        <div class="cell" title="Dividend">
          {{MoneyService.formatMoney(transaction.dividend, transaction.dividendCurrency)}}
        </div>
        <div class="cell" title="{{transaction.getTotalValueText()}}">
          <b>{{MoneyService.formatMoney(transaction.totalValue, transaction.totalValueCurrency)}}</b>
        </div>
        <div class="cell" title="Broker">{{transaction.broker.name}}</div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'StockDividendTransaction'">
      <div class="row stock-dividend-transaction">
        <div class="cell">
          <mat-icon aria-hidden="false" aria-label="Cash dividend" class="dark-blue" title="Stock dividend">pie_chart</mat-icon>
        </div>
        <div class="cell">{{transaction.date.toLocaleString()}}</div>
        <div class="cell" title="Symbol">{{transaction.companyStock.symbol}}</div>
        <div class="cell" title="Stock quantity"> {{transaction.stockQuantity}}</div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell" title="Broker">{{transaction.broker.name}}</div>
      </div>
    </ng-container>
  </span>
</span>
</span>
